/* 
  TailwindCSS sources.

  This file is compiled by tilwindcss tool into resources/public/css/compiled/front-styles.css
*/

/* Build all CSS files through TailwindCSS tools so they can all be packaged and minified together into the single output CSS file */
@import "../../../resources/public/css/common-styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* disable default focus outline for buttons and links */
button,a:focus {
  outline: none;
}

/* custom CSS  */ 

/* hide the send icon when the button is in the process of sending a request */
.button-indicator .button-icon {
  opacity: 1;
  transition: opacity 200ms ease-out;
}
.button-indicator.htmx-request .button-icon {
  opacity: 0;
}
